node_modules/
lib/
temp/
bin/


!dist/
dist/**
!dist/3web.udm.js
!dist/3web.udm.js.map


.idea
.vscode
yarn-error.log
.DS_Store
.parcel-cache/
tsconfig.tsbuildinfo
test/test_dump/*
.yalc/
old_src/
yalc.lock
.env
